$colorDownloadLink: rgba(120, 188, 97, 1);
$colorSection-1: rgba(240, 246, 244, 1);
$colorTitleBlockText: rgba(65, 71, 77, 1);
$colorSelectFormborder: rgba(229, 228, 215, 1);
$colorChecked: rgba(54, 193, 186, 1);
$colorWhite: white;
$colorDropupListBoxShadow: rgba(0, 0, 0, 1);
$colorDropupBG: rgba(255, 255, 255, 0.05);
$colorDropupListBG: rgba(65, 80, 93, 1);
$colorDropupItemBGhover: rgba(65, 80, 93, 1);
$colorText1: rgba(18, 25, 32, 1);
$colorText2: rgba(174, 176, 177, 1);
$colorBlockBG1: rgba(25, 38, 50, 1);
$colorBlockBG2: rgba(18, 25, 32, 1);
$colorFooterLinkText: rgba(240, 246, 244, 0.2);
$colorGray: rgba(128, 128, 128, 1);
$colorHeaderBG: rgba(240, 246, 244, 1);
$colorJoinUsInputBorder: rgba(229, 228, 215, 1);
$colorPopupDemoBG: rgba(0, 0, 0, 0.5);
$colorPopupMesageBG: rgba(0, 0, 0, 0.78);
$colorTableBorderBottom: rgba(231, 232, 232, 1);
$colorTableTitle: rgba(54, 193, 186, 1);
$colorTableTD: rgba(65, 71, 77, 1);
$colorSuperFoodBG: rgba(240, 246, 244, 1);
$colorSuperFoodFrontBlockBG: rgba(255, 255, 255, 0.8);
$colorSuperFoodActive: rgba(54, 193, 186, 1);
$colorSuperFoodTab: rgba(18, 25, 32, 1);
$colorFrameCardBG: rgba(0, 0, 0, 0.2);
$colorTestimonialBG: rgba(240, 246, 244, 1);
$colorVideoPopupBG: rgba(0,0,0,0.7);
$colorVideoPopupCloseBG: rgba(49, 49, 49, 1);
$mainBgColor: rgba(54, 193, 186, 1);
$colorBlack: rgba(0, 0, 0, 1);
$colorWhyCard1: rgba(230, 156, 227, 0.42);
$colorWhyCard2: rgba(218, 183, 80, 0.42);
$colorWhyCard3: rgba(244, 168, 177, 0.42);
$colorWhyCard4: rgba(122, 196, 194, 0.42);
$colorWhyCard5: rgba(96, 184, 230, 0.42);
$colorWhyCard6: rgba(98, 174, 77, 0.42);
