@import "mixins.scss";

.main{
	.grafic{
		@include flexBox();
		&__container{
			@include gridBox(1fr);
			grid-gap: 40px;
		}
		&__grafic-block{
			min-width: 200px;
			max-width: 700px;
			padding: 0 10px;
		}
		&__image{}
	}

}