@import "mixins.scss";
@import "colors.scss";

.main{
	.joinus{
		padding-bottom: 45px;
		&__container{
			grid-gap: 0;
			@include screen_576{
				grid-template-columns: 80%;
			}
		}
		&__form-row{
			@include flexBox();
			@media screen and(max-width: 768px){
				flex-direction: column;

			}
		}
		&__input-block{
			@include gridBox(minmax(250px, 509px));
			border: 2px solid $colorJoinUsInputBorder;
			border-radius: 6px;
			margin: 45px 1.2rem;
			overflow: hidden;
		}
		&__input{
			width: 100%;
			border: none;
			padding: 0.94rem 1.5rem;
			font-size: 1.5rem;
			font-family: 'Montserrat';
			font-weight: 400;
			text-align: left;
			@include screen_576{
				font-size: 1.125rem;
			}
		}
		&__button{
			font-size: 1.5rem;
			padding: 1rem 60px;
			@include screen_576{
				font-size: 1.125rem;
			}
		}
	}
}