@mixin flexBox($justify: center, $align: center, $direction: row){
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin gridBox($col: auto, $row: auto, $just: center, $align: center){
	display: grid;
	grid-template-columns: $col;
	grid-template-rows: $row;
	justify-items: $just;
	align-items: $align;
	justify-content: center;
}

@mixin screen_768 {
	@media screen and(max-width: 768px){
		@content;
	}
}

@mixin screen_576 {
	@media screen and(max-width: 576px){
		@content;
	}
}

@mixin screen_992 {
	@media screen and(max-width: 992px){
		@content;
	}
}

@mixin screen_1200 {
	@media screen and (max-width: 1200px){
		@content;
	}
}
