@import "mixins.scss";
@import "colors.scss";

.table{
	&_food{
		border-spacing: 2px;
		border-collapse: collapse;
		justify-self: start;
		width: 100%;
		&>tbody>tr td{
			text-align: left;
			
			border-bottom: 1px solid $colorTableBorderBottom;
			color: $colorTableTD;
			@include screen_576{
				padding: 3px;
			}
			&:nth-child(2){
				padding: 7px 12px 7px 0;
				min-width: 50px;
				@include screen_576{
					padding: 3px;
				}
			}
			&:last-child{
				padding: 7px 0px 7px 40px;
				@include screen_576{
					padding: 3px 0 3px 10px;
				}
			}
			&:first-child{
				padding: 7px 0;
				font-weight: 700;
				color: $colorTableTitle;
				@include screen_576{
					padding: 3px;
				}
			}
		}
		&>tbody>tr:last-child td{
			border-bottom: none;
		}
		&>thead>tr th{
			text-align: left;
			padding: 0px 7px 7px 0;
			border-bottom: 1px solid $colorTableBorderBottom;
			@include screen_576{
				padding: 3px;
			}
			&:last-child{
				padding: 7px 0px 7px 40px;
				@include screen_576{
					padding: 3px 0 3px 10px;
				}
			}
		}
	}
}

.main{
	.super-food{
		@include flexBox();
		&__container{
			@include gridBox(minmax(250px, 1fr), repeat(4, min-content));
			grid-gap:35px;
			@include screen_576{
				grid-template-columns: 80%;
			}
		}
		&_bg-color{
			background-color: $colorSuperFoodBG;
		}
		&__side-block{
			position: relative;
			@include flexBox();
				width: 100%;
			}
		&__side-table{
			width: 100%;
			padding-right: 50px;
			padding: 38px 50px 35px 0;
		}
		&__front-block{
			@include flexBox();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 1.875rem;
			background-color: $colorSuperFoodFrontBlockBG;
		}
		&__table-row{
			@include gridBox(5fr 7fr, auto, center, center);
			width: 100%;
			background-color: $colorWhite;
			grid-gap: 30px;
			border-radius: 10px;
			@include screen_768{
				grid-template-columns: minmax(min-content, 1fr);
				grid-template-rows: auto;
				justify-content: center;
				grid-gap: 35px;
				padding: 20px;
				.super-food__side-table{
					padding: 20px 0;
				}
			}
			@include screen_576{
				font-size: 0.68rem;
				.super-food__side-table{
					padding: 20px 0;
				}
			}
			@include screen_992{
				width: 80%;
			}
		}
		&__tabs{
			@include gridBox(repeat(3, 1fr));
			width: 75%;
			@include screen_576{
				padding: 0 30px;	
			}
		}
		&__tab{
			position: relative;
			font-family: "Bebas Neue";
			font-size: 1.5rem;
			font-weight: 400;
			color: $colorSuperFoodTab;
			padding-bottom: 8px;
			margin: 0 5px;
			cursor: pointer;
			&:before{
				position: absolute;
				content: '';
				left: 100% / 2 - 70% / 2;
				bottom: 5px;
				width: 70%;
				border: 2px solid $colorSuperFoodTab;
				transition: 0.3s;
			}
			@include screen_576{
				font-size: 1.125rem;
			}
		}
		&__picture{
			max-width: 125px;
		}
		&_active{
			color: $colorSuperFoodActive;
			&:before{
				border: 2px solid $colorSuperFoodActive;
			}
			&:after{
				position: absolute;
				content: '';
				left: 100% / 2 - 10;
				bottom: -45px;
				width: 20px;
				height: 20px;
				background-color: $colorWhite;
				transform: rotate(45deg);
				cursor: default;
			}
		}
		&_button{
			padding: 20px 50px;
			font-size: 1.125rem;
		}
		&__footer{
			padding-top: 5px;
		}
	}
}