@import "mixins.scss";
@import "colors.scss";

.main{
	.w-simpleat{
		@include flexBox(center,center);
		&__container{
			@include gridBox(min-content minmax(250px, 654px), 1fr, center, center);
			grid-gap: 127px;
			@media screen and(max-width: 768px){
				grid-template-columns: minmax(250px, 80%);
				grid-gap: 50px;
			}
		}
		&__header{}
		&_bg-color{
			background-color: $mainBgColor;
		}
		&__video-content{
			@include flexBox();
			position: relative;
			border-radius: 6px;
			position: relative;
			overflow: hidden;
		}
		&__image{
			max-width: 657px;
		}
		&__svg-content{
			@include flexBox(center,center,column);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&__svg-image{
			width: 84px;
			height: 84px;
			transition: 0.3s;
			&:hover{
				transform: scale(1.2);
			}
		}
		&__text{
			margin-top: 10px;
			color: $colorWhite;
		}
	}
}