@import "mixins.scss";
@import "colors.scss";

.card{
	@include gridBox(auto, min-content 1fr);
	grid-gap: 35px;
	&_ingredients{
		grid-gap: 15px;
	}
	&__picture-block{
		@include flexBox();
		position: relative;
		border-radius: 50%;
		overflow: hidden;
	}
	&__picture{
	}
	&__title{
		font-family: 'Bebas Neue';
		font-size: 1.5rem;
		font-weight: 400;
	}
	&__about-text{
		display: block;
		margin-top: 1rem;
		font-family: 'Montserrat';
		font-size: 0.81rem;
		font-weight: 400;
	}
	&__front-color{
		@include flexBox();
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		&.color{
			&_pink{
				background-color: $colorWhyCard1;
			}
			&_orange{
				background-color: $colorWhyCard2;
			}
			&_rose{
				background-color: $colorWhyCard3;
			}
			&_cyan{
				background-color: $colorWhyCard4;
			}
			&_skyblue{
				background-color: $colorWhyCard5;
			}
			&_green{
				background-color: $colorWhyCard6;
			}
		}
	}
	&__front-picture{
		width: 76px;
	}
}

.main{
	.why{
		@include flexBox();
		&__container{
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, min-content);
			grid-gap: 45px;
			@include screen_576{
				grid-template-columns: 80%;
			}
		}
		&__button{
			padding: 19px 53px;
    		font-size: 18px;
		}
		&__main{
			@include gridBox(repeat(6, minmax(95px, 168px)), auto, center, start);

			grid-gap: 30px;
			@media screen and(max-width: 860px){
				grid-template-columns: repeat(3, minmax(95px, 168px));
				grid-template-rows: repeat(2, min-content);
			}
			@include screen_576{
				grid-template-columns: repeat(2, minmax(95px, 168px));
				grid-template-rows: repeat(3, min-content);
			}
		}
	}
}